/* Color palette */
/* - Aubergine (#3D2F5F) */
/* - Oud roze (#B17E7E) */
/* - Blauwgroen (#007B75) */
/* - Cremegeel (#F2E8C4) */
/* Generic styling */

a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    left: 0;
    right: 0;
    position: relative;
}

/* Grid Layout */
.wrapper {
    overflow: auto;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "navbar navbar navbar" ". . ." "footer footer footer";
}

.header {
    overflow: hidden;
    grid-area: header;
    font-family: Arial;
    border-bottom: solid black 1px;
}

.sidebar-l {
    background-color: #007B75;
}

.content {
    grid-column-end: 4;
    grid-column-start: 1;
}

.sidebar-r {
    background-color: #007B75;
}

.footer {
    font-size: 20px;
    overflow: hidden;
    grid-area: footer;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial;
    border-top: solid black 1px;
}

/* Header */
h1 {
    left: -2.9%;
    position: relative;
    text-align: center !important;
}

.hicon {
    left: 5%;
    float: left;
    font-size: 25px;
    color: #007B75;
    position: relative;
    padding: 8px 2px;
}

/* Navigation */
.topnav {
    opacity: .8;
    display: flex;
    grid-area: navbar;
    align-items: center;
    justify-content: center;
}

.topnav a {
    font-size: 20px;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: #007B75;
}

.topnav-centered a {
    left: 36%;
    right: 50%;
    float: none;
    position: relative;
    transform: translate(-50%, -50%);
}

.topnav-right {
    left: 30%;
    float: right;
    position: relative;
}

.topnav-right ul,
li {
    display: inline;
    list-style: none;
}

.dropdown {
    overflow: hidden;
    padding: 14px 16px;
}

.dropdown .dropbtn {
    margin: 0;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 20px;
    font-family: inherit;
    background-color: inherit;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: #007B75;
}

.dropdown-content {
    z-index: 1;
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    display: block;
    color: black;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #007B75;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Home Page styling */
img {
    height: 50%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newEntry h1 {
    text-align: center;
}

form.example input[type=text] {
    top: -55vh;
    left: 35%;
    width: 30%;
    float: left;
    padding: 15px;
    font-size: 17px;
    position: relative;
    border-radius: 25px;
    background: #f1f1f1;
    border: 1px solid grey;
}

/* Style the submit button */
form.example button {
    top: -54.5vh;
    right: 34%;
    float: right;
    padding: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-left: none;
    position: relative;
    border-radius: 25px;
    background: #007B75;
    border: 1px solid grey;
}

form.example button:hover {
    background: #007B75;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* Register styling */
.formcontainer {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
}

.registerTitle {
    padding: 12px 10px;
}

.errors {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

input[type=submit] {
    width: 70%;
    margin: 10px 0;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #007B75;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.icon {
    padding: 10px;
    color: #007B75;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 70%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.course,
.difficulty {
    width: 70%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

/* Recipe Card */
.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    margin: auto;
    height: 300px;
    max-width: 320px;
    text-align: center;
    font-family: arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
}

.card button {
    outline: 0;
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background-color: #000;
}

.card :hover {
    opacity: 0.7;
}

.rTitle {
    left: 0%;
    right: 50%;
    position: relative;
}

/* Single-recept styling */
.content {
    text-align: center;
}

table,
th,
td {
    text-align: center;
}

ul {
    padding-inline-start: 0em;
    font-weight: 400;
    list-style: none;
}

li {
    text-align: center;
    position: relative;
    cursor: default;
    transition: color 0.4s;
}

/* Table styling */

table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    padding: 8px;
    width: 25%;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th h1 {
    right: 0;
    left: -10px;
    text-align: center;
}

table li {
    display: inline-block;
}

.terug-link {
    padding: 12px 2px;
}