/* Color palette */
/* - Aubergine (#3D2F5F) */
/* - Oud roze (#B17E7E) */
/* - Blauwgroen (#007B75) */
/* - Cremegeel (#F2E8C4) */

/* Generic styling */
body {
    background-color: #F2E8C4;
    margin: 0;
    padding: 0;
}

/* Grid Layout */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1.2fr 15fr 1.2fr;
    grid-template-areas: "header header header" ". . ." "footer footer footer";
}

.header {
    grid-area: header;
    overflow: hidden;
    background-color: #3D2F5F;
    font-family: Arial;
}

.sidebar-l {
    background-color: #007B75;
}

.content {
    background-color: #F2E8C4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.sidebar-r {
    background-color: #007B75;
}

.footer {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    overflow: hidden;
    grid-area: footer;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial;
}

/* Navbar styling */

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.rightnav {
    margin-left: 85%;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: Arial;
}

/* Register styling */

.formcontainer {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    height: 75%;
    width: 40%;
}

.registerTitle {
    padding: 22px 20px;
}

.errors {
    border-style: solid;
    border-color: red;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

input[type=submit] {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}